.bg-6{
	padding: 2em;
	background-color: green;
	height: 550px;
	background-image: url('img/20953613_113021919422422_4714701887317897599_n.jpg');

}
.now{
	margin-top:10%;
}
.footer{
	border-top: 3px solid black;
}
body{
	width: 100%;
	margin: auto;
	background-image: url(img/zac-ong-394558.jpg);
	color: white;
}
.jumbotron{
	background-color: black;
}
